<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <%= pluralize(@user.micro_posts.length, "MicroPost") %>
</p>
<%=will_paginate @microposts%>
<%= render @microposts %>
<%=will_paginate @microposts%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
